<html>
<head>
<style>

body, td {
    font-family: Helvetica, sans-serif;
}

{% for css_color in colors %}
td.tile-color-{{ loop.index0 }} {background-color: {{ css_color }}; }
{% endfor %}

td {
    width: {{ tilesize }}em;
    height: {{ tilesize }}em;
    text-align:center;
    vertical-align:middle;
{#    border: 1px solid black;#}
}

{% if show_section_boundaries %}
td.section-boundary { border-top: 2px double black; }
{% endif %}

.tile-table { border: 1px solid black;}

.tile-label {
    mix-blend-mode: difference;
    color: white;
}

</style>
</head>
<body>

<table style="float: right;">
    {% for color in colors %}
        <tr><td class="tile-color-{{ loop.index0 }}"><span class="tile-label">{{ color }}</span></td><td>{{ tile_counts[loop.index0] }}</td></tr>
    {% endfor %}
    <tr><td><span class="tile-label">Total</span></td><td>{{ tile_count_total }}</td></tr>
    <tr><td><span class="tile-label">Tile cost</span></td><td>{{ formatted_cost }}</td></tr>
</table>

<table class="tile-table">
    {% for row in grid %}
    {% set rowloop = loop %}
    <tr>
        {% for color in row %}
            <td class="tile-color-{{ color }} {% if rowloop.index0 % section_length == 0 %}section-boundary{% endif %}">&nbsp;</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<hr style="page-break-after: always;"/>

<table class="tile-table">
    {% for row in grid %}
    {% set rowloop = loop %}
    <tr>
        {% for color in row %}
            <td class="tile-color-{{ color }} {% if rowloop.index0 % section_length == 0 %}section-boundary{% endif %}"><span class="tile-label">{{ color }}</span></td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>
